<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>URL Shortener</title>
</head>
<body>
    <h1>Search URLs</h1>

    <form action="/search" method="post">
        <label for="search">Search Urls</label>
        <input type="text" required value= "<%= search %>" name="search" id="search">
        <br>
        <button type="submit">Submit</button>
    </form>


       
    <table>

        <thead>
               <tr>
                <th>FULL URL</th>
                <th>SHORT URL</th>
                <th>NOTE</th>
            </tr>
             
            
        </thead>

        <tbody>

            <% shortUrls.forEach(shortUrl =>{ %>

                <tr>
                    <td> <a href="<%= shortUrl.full %>"> <%= shortUrl.full %> </a>  </td>
                    <td> <a href="<%= shortUrl.short %>"> <%= shortUrl.short %> </a></td>
                    <td><%= shortUrl.note %></td>
                </tr>

           <% }) %>

           
        </tbody>

    </table>

</body>
</html>